body {
    background-color: #ffddf9;
}

p {
    font-family: monospace;
}

#special {
    color: violet;
}

h1, h2, h3 {
    color: #c68cff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

.myClass {
    font-style: italic;
}

p.myClass {
    color: blue;
}

#paragraphId {
    color: #8080ff;
}

#blockId {
    border: 3px solid #0080ff;
    background-color: #fefbb8;
}

.boldCls {
    font-weight: bold;
}

.itaCls {
    font-style: italic;
}

.upperCls {
    text-transform: uppercase;
}
